@model HomeWorkWeekOne.Models.客戶聯絡人

@{
    ViewBag.Title = "客戶聯絡人";
}

<h2>客戶聯絡人</h2>

<div>
    <h4>客戶聯絡人</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.職稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.職稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.姓名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.姓名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.手機)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.手機)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.停用)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.停用)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.客戶資料.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶資料.客戶名稱)
        </dd>

    </dl>
</div>
<p>
    <input type="button" value="編輯" class="button-success pure-button" onclick="location.href='@Url.Action("Edit", "ContactPerson", new { id = Model.Id })'" />
    <input type="button" value="返回客戶聯絡人管理" class="pure-button" onclick="location.href='@Url.Action("Index", "ContactPerson")'" />
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
