@model HomeWorkWeekOne.Models.客戶資料

@{
    ViewBag.Title = "客戶資料";
}

<h2>客戶資料</h2>


<div>
    <h4>客戶資料</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.停用)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.停用)
        </dd>

    </dl>
</div>
<div>
    <input type="button" value="編輯" class="button-success pure-button" onclick="location.href='@Url.Action("Edit", "Customer", new { id = Model.Id })'" />
    <input type="button" value="返回客戶管理" class="pure-button" onclick="location.href='@Url.Action("Index", "Customer")'" />
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
